<h1>Busca por CEP</h1>

<form>
    <fieldset [disabled]="loading">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cep">CEP</label>
                        <input type="text" class="form-control" id="cep" name="cep" placeholder="CEP" [(ngModel)]="address.cep">
                    </div>
                </div>
                <div class="col-md-1">
                    <br>
                    <button class="btn btn-primary" (click)="search()">Buscar</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="street">Logradouro</label>
                        <input type="text" class="form-control" id="street" name="street" placeholder="street" [(ngModel)]="address.street">
                    </div>
                    <div class="form-group">
                        <label for="number">Número</label>
                        <input type="text" class="form-control" id="number" name="number" placeholder="number" [(ngModel)]="address.number">
                    </div>
                    <div class="form-group">
                        <label for="complement">Complemento</label>
                        <input type="text" class="form-control" id="complement" name="complement" placeholder="complement" [(ngModel)]="address.complement">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="district">Bairro</label>
                        <input type="text" class="form-control" id="district" name="district" placeholder="district" [(ngModel)]="address.district">
                    </div>
                    <div class="form-group">
                        <label for="city">Cidade</label>
                        <input type="text" class="form-control" id="city" name="city" placeholder="city" [(ngModel)]="address.city">
                    </div>
                    <div class="form-group">
                        <label for="state">Estado</label>
                        <input type="text" class="form-control" id="state" name="state" placeholder="state" [(ngModel)]="address.state">
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>