<nav class="sidebar">
    <div class="sidebar-inner">
        <!-- ### $Sidebar Header ### -->
        <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
                <div class="peer peer-greed">
                    <a class="sidebar-link td-n" routerLink="/dashboard">
                        <div class="peers ai-c fxw-nw">
                            <div class="peer">
                                <div class="logo">
                                    <img alt="Logo" src="/assets/images/logo-partial.png">
                                </div>
                            </div>
                            <div class="peer peer-greed logo--completed">
                                <img alt="Logo" src="/assets/images/logo-partial-2.png">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="peer mL-10">
                    <div class="mobile-toggle">
                        <a (click)="toggleMenu()" class="td-n" href="#" prevent-default>
                            <i class="fa fa-arrow-circle-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ### $Sidebar Menu ### -->
        <ul class="sidebar-menu scrollable pos-r">
            <li class="nav-item mT-10">
                <a class="sidebar-link" routerLink="/dashboard" routerLinkActive="active">
                    <span class="icon-holder">
                        <i class="c-blue-500 fa fa-home"></i>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a [routerLinkActiveOptions]="{exact: true}" class='sidebar-link' routerLink="/emails"
                   routerLinkActive="active">
                    <span class="icon-holder">
                        <i class="c-brown-500 fa fa-envelope"></i>
                    </span>
                    <span class="title">Email</span>
                </a>
            </li>
            <li class="nav-item">
                <a class='sidebar-link' routerLink="/chat" routerLinkActive="active">
                    <span class="icon-holder">
                        <i class="c-deep-purple-500 fa fa-comments"></i>
                    </span>
                    <span class="title">Chat</span>
                </a>
            </li>
            <li class="nav-item">
                <a class='sidebar-link' routerLink="/logs" routerLinkActive="active">
                    <span class="icon-holder">
                        <i class="c-cyan-800 fas fa-clipboard-list"></i>
                    </span>
                    <span class="title">Logs</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
