<form (ngSubmit)="send()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" [(ngModel)]="contact.name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="contact.email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="contact.password">
    </div>
    <div class="form-group">
        <label for="price">Valor por hora</label>
        <input type="text" class="form-control" id="price" name="price" placeholder="R$ 0.00" [(ngModel)]="contact.price">
    </div>
    <div class="form-group">
        <label for="date">Data</label>
        <input type="text" class="form-control" id="date" name="date" placeholder="yyyy-mm-dd" [(ngModel)]="contact.date">
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
</form>

<ul>
    <li *ngFor="let contact of contacts">
        {{ contact.name | uppercase }} - {{ contact.price | formatCurrent }} - {{ contact.date | formatDate }}
    </li>
</ul>

<p appContact></p>