<div class="container">
    <ul>
        <li *ngFor="let item of list">
            <h2><a target="_blank" rel="noopener" href="{{ item.href }}">{{ item.name }}</a></h2>
        </li>
    </ul>

    <ul>
        <li *ngFor="let t of texts">
            {{ t }}
        </li>
    </ul>

    <form class="form-vertical">
        <input type="text" class="form-control" [(ngModel)]="text" name="text"> {{ text }}

        <button class="btn btn-default" (click)="add()">Add</button>
    </form>
</div>

<app-contact-form></app-contact-form>